<?xml version="1.0"?>
<manifest package="com.countdown"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="1.0"
          android:versionCode="1">
    <application android:name="org.qtproject.qt.android.bindings.QtApplication"
                 android:label="倒数日">
        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
                  android:launchMode="singleTop"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
